@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');

body {
    background-color: antiquewhite;
}

.wrapper-card {
    display: flex;
    width: 600px;
    height: 250px;
    background-color: #6cc7fa;
}

.logo-company {
    margin-left: 10px;
    height: 200px;
    width: 200px;
}

.name-company {
    display: flex;
    position: relative;
    font-size: 30px;
    left: 20px;
    bottom: 25px;
    color: #023c77;


}

.profession {
    text-align: center;
    font-family: 'Rubik Dirt', cursive;

}

.main-block {
    flex: 1;

}

ul {
    font-size: 20px;


}

li {
    font-size: small;
    color: darkblue;
}

.logo {
    height: 20px;
    align-self: center;
}

.description {
    display: flex;
    position: relative;
    bottom: 25px;
    flex: 1;

}

.contacts {


    margin-left: 15%;
}

.contacts p {
    margin-left: 15px;
    color: #020342;
}

.contact {
    display: flex;
    justify-self: center;
}